.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }

.hamburger--collapse .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(-45deg); }

.hamburger--collapse.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0; }

.hamburger--collapse.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg); }

.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .13s; }

.hamburger--collapse-r .hamburger-inner:after {
  top: -20px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear; }

.hamburger--collapse-r .hamburger-inner:before {
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -10px, 0) rotate(45deg); }

.hamburger--collapse-r.is-active .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0; }

.hamburger--collapse-r.is-active .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(90deg); }

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.hamburger.is-active:hover, .hamburger:hover {
  opacity: .7; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #000; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner:before {
  top: -10px; }

.hamburger-inner:after {
  bottom: -10px; }

.tooltip {
  width: auto;
  max-width: 90vw;
  opacity: 1 !important;
  white-space: pre-line; }
  .tooltip .tooltip-inner {
    background: white;
    color: black;
    border: 2px solid #e3e4e4;
    text-align: left;
    width: auto;
    max-width: 90vw;
    white-space: pre-line; }
  .tooltip .arrow {
    width: 11px;
    height: 11px;
    border: 2px solid #e3e4e4;
    bottom: 1px; }
    .tooltip .arrow:before {
      width: 11px;
      height: 11px;
      background: white;
      border: 0; }
  .tooltip.bs-tooltip-top .arrow {
    transform: rotate(-135deg); }
  .tooltip.bs-tooltip-bottom .arrow {
    transform: rotate(135deg);
    top: 2px; }

@media screen and (min-width: 1199.98px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1390px !important; } }

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300; }

html {
  scroll-behavior: smooth; }

html {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  @media screen and (max-width: 1199.98px) {
    html {
      font-size: 16px; } }

p {
  font-weight: 300; }

img {
  max-width: 100%; }

.black {
  color: #000 !important; }

a:hover {
  text-decoration: none; }

h1 {
  font-size: 2.222rem;
  /* 40/18 */ }

.h2 {
  font-size: 30px; }

.object-contain {
  object-fit: contain; }

.object-cover {
  object-fit: cover; }

.btn {
  padding: 8px 10px;
  min-width: 97px;
  border-radius: 2px;
  text-align: center;
  line-height: 1.33em;
  margin-left: 5px;
  margin-right: 5px;
  min-height: 2rem;
  /* 36/18 */
  font-size: 0.722rem;
  /* 13/18 */
  transition: all 0.32s ease; }
  .btn.bg-blue:hover {
    color: #fff;
    background-color: #2F6799; }
  .btn.bg-dark-blue {
    background-color: #2F6799;
    font-size: 20px;
    color: #fff;
    transition: all 0.32s ease; }
    .btn.bg-dark-blue:hover {
      opacity: 0.9; }
  .btn.bg-bright-gray:hover {
    background-color: #DEE7F9; }

.bg-bright-blue {
  background-color: #7BA7D3; }

a.big-btn, button.big-btn {
  padding: 0.556rem 1.78rem;
  display: inline-block;
  color: #fff !important; }

.cta {
  height: 3.333rem;
  /* 60/18 */
  padding: 16px 53px;
  display: inline-block;
  font-size: 1.111rem;
  /* 20/18 */
  line-height: 1.33em;
  transition: all 0.32s ease;
  font-weight: 400; }
  .cta:hover {
    color: white; }
  .cta.bg-green {
    color: white; }

.container {
  max-width: 100%; }

.blue {
  color: #7BA7D3; }

.blue-hover:hover {
  color: #7BA7D3 !important; }

.bg-blue {
  background-color: #7BA7D3; }

.green {
  color: #40be46; }

.green-hover:hover {
  color: #40be46 !important; }

.bg-green {
  background-color: #40be46; }

.white {
  color: #fff; }

.gray {
  color: #8b8b8b; }

.bg-gray {
  background-color: #8b8b8b; }

.dark-blue {
  color: #2c4257; }

.bg-dark-blue {
  background-color: #2c4257; }

.bright-gray {
  color: #eaebee; }

.bg-bright-gray {
  background-color: #eaebee; }

.blue-gradient-bg {
  background: linear-gradient(254.27deg, #2c4257 51.72%, #7BA7D3 98.82%); }

.arrow-cta example_f {
  border-radius: 4px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px; }

.arrow-cta .example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s; }

.arrow-cta .example_f span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s; }

.arrow-cta .example_f:hover span {
  padding-right: 25px; }

.arrow-cta .example_f:hover span:after {
  opacity: 1;
  right: 0; }

header#masthead {
  border-bottom: 1px solid #eaebee;
  padding-top: 8px;
  padding-bottom: 8px; }
  header#masthead .subscribe-btn {
    border: 1px solid #2c4257;
    color: #2c4257; }
  header#masthead a.btn.bg-blue.white img {
    position: relative;
    bottom: 1px; }
  header#masthead .header-logo {
    max-height: 82px; }
  header#masthead .header-dark-blue {
    background-color: #2F6799 !important; }
  header#masthead #searchInput {
    height: 37px; }
  @media screen and (max-width: 480px) {
    header#masthead .header-hamburger-col {
      padding-right: 5px; }
    header#masthead button.hamburger--collapse {
      padding-right: 0; }
      header#masthead button.hamburger--collapse .hamburger-inner {
        width: 30px; }
        header#masthead button.hamburger--collapse .hamburger-inner:before, header#masthead button.hamburger--collapse .hamburger-inner:after {
          width: 30px; } }

.hero-bg, .contact-bg {
  width: 15.6vw;
  max-width: 300px; }

section#hero .hero-bg {
  top: 20px;
  left: 0; }
  section#hero .hero-bg.downloads-hero-bg {
    top: 150px; }
  @media screen and (max-width: 480px) {
    section#hero .hero-bg .homepage-hero-paragraph {
      font-size: 1rem; } }

section#hero .hero-content {
  margin-left: auto;
  margin-right: auto; }
  section#hero .hero-content h2 {
    font-size: 1.111rem;
    font-weight: 300;
    /* 20/18 */ }
    @media screen and (max-width: 480px) {
      section#hero .hero-content h2 {
        font-size: 1rem; } }

section.diagram .diagram-wrapper img.d-sm-inline {
  width: 1041px;
  max-width: 100%; }

section#downloadsHero .d-only-hero-bg {
  top: -30px;
  width: 165px; }

html body .mktoFormRow .mktoError .mktoErrorMsg {
  border-radius: 0;
  background: red;
  text-shadow: none;
  padding: 15px;
  font-size: 0.9rem;
  font-weight: 400; }

section.advantages .adv-col:first-child, section.advantages .adv-col:nth-child(2) {
  border-right: 1px solid white; }
  @media screen and (max-width: 767.98px) {
    section.advantages .adv-col:first-child, section.advantages .adv-col:nth-child(2) {
      border-right: 0;
      border-bottom: 1px solid white; } }

section.advantages .advantage {
  max-width: 296px;
  margin-left: auto;
  margin-right: auto; }
  section.advantages .advantage .img {
    min-height: 101px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center; }
  section.advantages .advantage h4 {
    font-size: 1.111rem; }
  section.advantages .advantage p {
    font-size: 0.833rem;
    /* 15/18 */ }
    section.advantages .advantage p strong {
      font-weight: 700; }
  section.advantages .advantage .read-more-wrapper .read-more-content {
    display: none; }
  section.advantages .advantage .read-more span {
    display: inline-block;
    position: relative;
    left: 3px;
    top: 2px;
    transform: rotate(90deg); }
  section.advantages .advantage .read-more:hover {
    color: #fff; }

section.learn-more img.lm-bg {
  top: -80px;
  right: 0; }

section.learn-more h3 {
  font-weight: 700;
  font-size: 1.111rem;
  /* 20/18 */
  display: inline;
  top: -0.5em;
  left: 0;
  right: 0; }
  section.learn-more h3 span {
    padding: 10px; }

section.learn-more .lm-obj {
  font-size: 1rem;
  /* 18/18 */ }
  section.learn-more .lm-obj .content {
    border: 1px solid #000;
    padding-top: 3.556rem;
    /* 64/18 */
    padding-left: 2.222rem;
    /* 40/18 */
    padding-right: 2.222rem;
    /* 40/18 */
    padding-bottom: 2.222rem;
    /* 40/18 */ }
    section.learn-more .lm-obj .content a.text-link {
      color: black !important; }
    section.learn-more .lm-obj .content a.big-btn {
      transition: all 0.32s ease; }
      section.learn-more .lm-obj .content a.big-btn:hover {
        background-color: #3E6387; }

section.users .users-flex {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: center; }
  section.users .users-flex .user-box {
    width: 20%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: 150px; }

@media screen and (max-width: 768px) {
  section.users .users-flex .user-box {
    width: 33.3%;
    height: calc((100vw - 30px) / 3);
    padding: 10px; } }

section.testis {
  overflow: hidden; }
  section.testis h2 {
    font-weight: 300; }
  section.testis .testi-cartousel-wrapper {
    position: relative;
    max-width: 646px;
    margin-left: auto;
    margin-right: auto; }
    section.testis .testi-cartousel-wrapper .testi {
      font-weight: 300; }
      section.testis .testi-cartousel-wrapper .testi .quote span.line {
        background: #fff;
        height: 1px;
        width: 95px; }
    section.testis .testi-cartousel-wrapper .slick-track {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center; }
    section.testis .testi-cartousel-wrapper .cs-slick-nav {
      position: absolute;
      background-color: transparent;
      border: 0;
      margin-top: auto;
      margin-bottom: auto;
      top: 0;
      bottom: 0;
      outline: 0 !important; }
      section.testis .testi-cartousel-wrapper .cs-slick-nav.cs-slick-right {
        transform: rotate(180deg);
        right: -80px; }
      section.testis .testi-cartousel-wrapper .cs-slick-nav.cs-slick-left {
        left: -80px; }

section.contact-us form#mktoForm_2684 {
  width: 687px !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto; }
  section.contact-us form#mktoForm_2684 .mktoButtonRow {
    text-align: center;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important; }
    section.contact-us form#mktoForm_2684 .mktoButtonRow span.mktoButtonWrap.mktoSimple {
      margin-left: auto !important;
      margin-right: auto !important; }
  section.contact-us form#mktoForm_2684 button[type="submit"] {
    height: 57px;
    padding-left: 15px;
    padding-right: 15px;
    width: 190px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    background: #40be46;
    font-size: 19px;
    transition: all 0.32s ease; }
    section.contact-us form#mktoForm_2684 button[type="submit"]:hover {
      background-color: #07940E; }
  section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol {
    width: 100%; }
    section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap {
      width: 100%; }
      section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap > .mktoGutter.mktoHasWidth {
        display: none !important; }
      section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap input,
      section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap textarea {
        width: 100% !important;
        font: "Open Sans", sans-serif; }
      section.contact-us form#mktoForm_2684 .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap textarea {
        padding-top: 17px;
        padding-bottom: 10px; }
  section.contact-us form#mktoForm_2684 .mktoFormRow label {
    display: none; }
  section.contact-us form#mktoForm_2684 .mktoFormRow input,
  section.contact-us form#mktoForm_2684 .mktoFormRow textarea {
    width: 100%;
    border-right: 2px;
    border: 1px solid #8b8b8b;
    height: 57px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px; }
  section.contact-us form#mktoForm_2684 .mktoFormRow textarea#MktoPersonNotes {
    transition: all 0.32s ease;
    height: 171px; }
    section.contact-us form#mktoForm_2684 .mktoFormRow textarea#MktoPersonNotes:placeholder-shown {
      height: 57px; }
  section.contact-us form#mktoForm_2684 .mktoFormRow .mktoOffset {
    display: none !important; }
  section.contact-us form#mktoForm_2684 .mktoFormRow:first-child {
    background: red;
    display: none !important; }

section.contact-us .form-container {
  position: relative;
  z-index: 1; }
  section.contact-us .form-container .title-mail a {
    color: #000;
    transition: all 0.32s ease;
    margin-top: -0.5rem; }
    section.contact-us .form-container .title-mail a:hover {
      color: #7BA7D3; }

section.contact-us img.contact-bg {
  left: -50px;
  top: -200px;
  z-index: 0; }

@media screen and (max-width: 768px) {
  section.sign-up img.letter {
    display: none !important; } }

section.sign-up img.letter {
  max-width: 200px;
  bottom: -10px;
  left: -130px; }
  @media screen and (max-width: 480px) {
    section.sign-up img.letter {
      bottom: 50px;
      left: -80px; } }

section.sign-up form#mktoForm_1479 {
  padding: 0;
  max-width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  width: 535px !important; }
  @media screen and (max-width: 480px) {
    section.sign-up form#mktoForm_1479 {
      justify-content: center; } }
  section.sign-up form#mktoForm_1479 input, section.sign-up form#mktoForm_1479 button[type="submit"] {
    border-radius: 2px !important;
    border: none !important; }
  section.sign-up form#mktoForm_1479 h2 {
    font-weight: 200; }
  section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) {
    order: -1; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) .mktoError {
      right: unset !important;
      bottom: -69px !important; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) label[for="Email"], section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) .mktoOffset, section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) .mktoClear, section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) .mktoGutter.mktoHasWidth {
      display: none; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) input {
      width: 100%;
      border-right: 2px;
      border: 1px solid #8b8b8b;
      height: 48px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 18px; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) input#Email {
      max-width: 100%;
      width: 332px !important; }
  section.sign-up form#mktoForm_1479 .mktoButtonRow {
    order: -1; }
    section.sign-up form#mktoForm_1479 .mktoButtonRow span.mktoButtonWrap.mktoNative {
      margin-left: 10px !important; }
      section.sign-up form#mktoForm_1479 .mktoButtonRow span.mktoButtonWrap.mktoNative button.mktoButton {
        height: 48px;
        border: 0;
        background: #2c4257;
        width: 190px;
        text-transform: uppercase;
        color: #fff;
        font-size: 19px;
        padding-left: 17px;
        padding-right: 17px;
        transition: all 0.32s ease; }
        section.sign-up form#mktoForm_1479 .mktoButtonRow span.mktoButtonWrap.mktoNative button.mktoButton:hover {
          opacity: 0.8; }
  section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) {
    width: 525px;
    max-width: 100%;
    margin-top: 10px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoAsterix, section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoGutter.mktoHasWidth, section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired.mktoValid label {
      display: none; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoOffset {
      display: none; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: row-reverse;
      padding-top: 5px;
      justify-content: center; }
      section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField label.mktoLabel.mktoHasWidth {
        color: #fff;
        text-align: center;
        font-weight: 300 !important; }
        section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField label.mktoLabel.mktoHasWidth a {
          font-weight: 600 !important;
          color: #fff !important;
          text-decoration: underline; }
      section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired {
        width: 25px !important;
        padding-left: 0;
        padding-top: 2.9px; }
        section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired [type='checkbox'] {
          opacity: 0; }
        section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired [type='checkbox'] + label {
          display: block !important;
          box-sizing: border-box;
          border-radius: 2px;
          width: 18px;
          height: 19px;
          background: #fff;
          border: 1px solid #8b8b8b;
          margin: 0 !important;
          padding: 0 !important; }
        section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) .mktoFieldDescriptor.mktoFormCol .mktoFieldWrap.mktoRequiredField .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired [type='checkbox']:checked + label:before {
          content: '\2714';
          position: absolute;
          top: 9px;
          left: 4px;
          z-index: 2;
          font-size: 14px;
          color: #40be46; }
    @media screen and (max-width: 768px) {
      section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) {
        margin-top: 10px;
        margin-bottom: 10px; } }
  @media screen and (max-width: 600px) {
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(3) {
      width: 100%;
      justify-content: center; }
    section.sign-up form#mktoForm_1479 .mktoFormRow:nth-child(2) input#Email {
      width: 210px !important;
      font-size: 15px; }
    section.sign-up form#mktoForm_1479 .mktoButtonRow span.mktoButtonWrap.mktoNative button.mktoButton {
      width: 110px !important;
      font-size: 15px; } }

section.sign-up form.footer-form h3 {
  font-size: 20px; }

section.sign-up form.footer-form label {
  display: none; }
  section.sign-up form.footer-form label.show-label {
    display: inline-block; }

section.sign-up form.footer-form input:not([type='checkbox']) {
  height: 48px;
  border-radius: 2px; }
  section.sign-up form.footer-form input:not([type='checkbox'])#footerEmail {
    width: 261px;
    border: 1px solid gray;
    background: white;
    padding-left: 15px; }
  section.sign-up form.footer-form input:not([type='checkbox'])[type='submit'] {
    padding: 10px 15px; }

section.sign-up form.footer-form .form-checkbox {
  position: relative; }
  section.sign-up form.footer-form .form-checkbox abbr {
    display: none; }
  section.sign-up form.footer-form .form-checkbox input {
    opacity: 0;
    position: relative;
    left: 3px;
    bottom: -7px;
    z-index: 3; }
  section.sign-up form.footer-form .form-checkbox span {
    height: 19px;
    width: 18px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -13px;
    transition: all 0.12s ease; }
  section.sign-up form.footer-form .form-checkbox [type='checkbox']:checked + span {
    background: #40be46;
    border: 1px solid #40be46; }
  section.sign-up form.footer-form .form-checkbox [type='checkbox']:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: 2px;
    z-index: 2;
    font-size: 14px;
    color: #fff; }

footer#siteFooter {
  background-image: url("../public/footer-bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #f7f7f7;
  background-size: 24vw; }
  @media screen and (max-width: 991px) {
    footer#siteFooter {
      background-image: none; } }
  footer#siteFooter .footer-left {
    border-top: 1px solid rgba(139, 139, 139, 0.5);
    padding-top: 30px;
    margin-top: 20px; }
    footer#siteFooter .footer-left .footer-menu {
      font-size: 15px; }
      footer#siteFooter .footer-left .footer-menu h4 {
        font-size: 16px; }
      footer#siteFooter .footer-left .footer-menu ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0; }
        footer#siteFooter .footer-left .footer-menu ul li a {
          color: #000;
          transition: all 0.32s ease;
          font-weight: 400; }
          footer#siteFooter .footer-left .footer-menu ul li a:hover {
            color: #2c4257; }
  footer#siteFooter ul.socials a {
    transition: all 0.32s ease; }
    footer#siteFooter ul.socials a:hover {
      opacity: 0.5; }

section#downloads #artifactoryZipPackage .info-circle {
  right: -30px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 29px; }

section#downloads button.dropdown-toggle:after {
  margin-right: 15px;
  color: #8b8b8b;
  font-size: 22px; }

section#downloads .downloads-item-wrapper {
  background-color: #f6f6f6; }

section#downloads .download-col-topper {
  height: 28px; }

section#downloads .main-downloads-row {
  width: 1304px;
  max-width: 100%; }
  @media screen and (max-width: 767.98px) {
    section#downloads .main-downloads-row .colored-downloads {
      padding-left: 0;
      padding-right: 0; } }

section#downloads .ncta {
  padding: 12px 16px;
  color: white;
  transition: all 0.32s ease;
  border-radius: 2px;
  font-weight: 500; }
  section#downloads .ncta:hover {
    opacity: .9; }
  section#downloads .ncta.fcv-cta {
    width: 225px;
    height: 57px; }

section#downloads .downloads-item-wrapper {
  height: 100%; }

section#downloads p {
  font-size: 16px;
  font-weight: 400; }
  section#downloads p.front-text {
    font-size: 17px;
    font-weight: 500;
    max-width: 485px; }

section#downloads h2 {
  font-weight: 300;
  font-size: 25px; }

section#downloads h3 {
  font-size: 25px;
  font-weight: 600; }

section#downloads h4 {
  font-size: 17px;
  font-weight: bold; }

section#downloads h5 {
  font-size: 17px; }

section#downloads .package-wrapper {
  margin-bottom: 8px;
  width: 530px;
  max-width: 100%; }
  section#downloads .package-wrapper textarea {
    z-index: -100;
    opacity: 0; }

section#downloads .cn-box {
  min-width: 68px;
  background: #fff;
  display: inline-block;
  height: 57px;
  border: 1px solid #D7D7D7;
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  padding: 8px 13px;
  color: #000;
  font-weight: 300 !important;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 17px; }
  section#downloads .cn-box.copy-text {
    font-family: monospace; }
  section#downloads .cn-box.cn-copy {
    cursor: pointer; }
  section#downloads .cn-box.small {
    max-width: 68px; }
    section#downloads .cn-box.small img {
      margin-left: auto;
      margin-right: auto; }
  section#downloads .cn-box.big {
    width: 295px;
    max-width: 100%; }
    @media screen and (max-width: 768px) {
      section#downloads .cn-box.big {
        font-size: 16px; } }
  section#downloads .cn-box.cn-main {
    width: 342px; }
    section#downloads .cn-box.cn-main#artiZipMain {
      width: auto;
      padding-right: 20px; }
    section#downloads .cn-box.cn-main.cn-dropdown {
      padding: 0; }
      section#downloads .cn-box.cn-main.cn-dropdown .dropdown {
        height: 100%;
        padding-left: 0;
        width: 100%; }
        section#downloads .cn-box.cn-main.cn-dropdown .dropdown button.dropdown-toggle {
          font-size: 17px;
          font-weight: 300;
          padding: 8px 13px;
          background: transparent;
          height: 100%;
          padding-left: 0;
          color: black;
          border: 0;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 15px; }
          @media screen and (max-width: 767.98px) {
            section#downloads .cn-box.cn-main.cn-dropdown .dropdown button.dropdown-toggle {
              font-size: 15px !important; } }
        section#downloads .cn-box.cn-main.cn-dropdown .dropdown .dropdown-menu {
          width: 100%; }
      section#downloads .cn-box.cn-main.cn-dropdown .dropdown-item {
        cursor: pointer; }
    @media screen and (max-width: 767.98px) {
      section#downloads .cn-box.cn-main {
        font-size: 15px !important;
        margin-right: 0 !important; } }
  section#downloads .cn-box.cn-action {
    background-color: #D7D7D7;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.32s ease;
    margin-right: 0; }
    section#downloads .cn-box.cn-action:hover {
      background-color: #7BA7D3;
      border-color: #7BA7D3; }
    section#downloads .cn-box.cn-action img {
      margin-left: auto;
      margin-right: auto; }
    section#downloads .cn-box.cn-action.cn-copy, section#downloads .cn-box.cn-action.cn-copy-multiline {
      background-image: url("../public/copy-icon.svg");
      cursor: pointer; }
    section#downloads .cn-box.cn-action.cn-download {
      background-image: url("../public/download-icon.svg"); }
      section#downloads .cn-box.cn-action.cn-download.disabled {
        cursor: default; }
        section#downloads .cn-box.cn-action.cn-download.disabled:hover {
          background-color: #acacac !important;
          border-color: #acacac !important; }
    section#downloads .cn-box.cn-action.cn-link {
      background-image: url("../public/link-icon.svg"); }
    @media screen and (max-width: 767.98px) {
      section#downloads .cn-box.cn-action {
        display: none; } }

section#downloads .download-questions h2 {
  font-size: 35px; }

section#downloads .download-questions .q-box {
  color: black;
  margin-left: 30px;
  margin-right: 30px; }
  section#downloads .download-questions .q-box:first-child {
    margin-left: 15px; }
  section#downloads .download-questions .q-box:last-child {
    margin-right: 15px; }
  section#downloads .download-questions .q-box .q-top {
    width: 68px;
    height: 57px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaebee;
    border-radius: 2px; }
    section#downloads .download-questions .q-box .q-top img {
      width: 31px; }

section#downloads .download-questions p {
  text-align: center; }
  @media screen and (max-width: 480px) {
    section#downloads .download-questions p {
      width: 300px;
      margin-left: auto;
      margin-right: auto; } }

body.downloads .modal-body textarea {
  width: 100%;
  min-height: 200px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  background: #eaebee; }

body.downloads .modal-footer button {
  font-size: 1rem; }
  body.downloads .modal-footer button.modal-copy-button {
    background: #7BA7D3; }

.sub-page-hero {
  background-size: 1920px 100%;
  background-position: center; }
  .sub-page-hero h1 {
    font-size: 20px;
    font-weight: 300; }
    @media screen and (min-width: 480px) {
      .sub-page-hero h1 {
        font-size: 40px; } }

body.privacy-policy ol,
body.privacy-policy ul {
  padding-left: 1.5em;
  margin-top: 10px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(139, 139, 139, 0.5);
  font-family: "Open Sans", sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(139, 139, 139, 0.5);
  font-family: "Open Sans", sans-serif; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(139, 139, 139, 0.5);
  font-family: "Open Sans", sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(139, 139, 139, 0.5);
  font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 991.98px) {
  header .hamburger {
    outline: 0;
    height: 55px; }
  .header-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 0.32s ease;
    z-index: -1;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px;
    background: white; }
    .header-nav.is-visible {
      z-index: 9;
      opacity: 1;
      visibility: visible; }
    .header-nav a.btn {
      margin-bottom: 10px; } }

@media screen and (max-width: 1399.98px) {
  section#hero .hero-bg {
    display: none; }
  section.learn-more img.lm-bg {
    display: none; }
  section.contact-us img.contact-bg {
    display: none; } }

.legal-page table {
  border: none;
  word-break: break-all;
  margin-top: 20px;
  margin-bottom: 20px; }

.legal-page table tr {
  border-top: 1px solid #7ba7d3;
  border-bottom: 1px solid #7ba7d3; }

.legal-page table tr td, .legal-page table tr th {
  border: none;
  border-right: 1px solid #7ba7d3;
  padding: 5px; }

/* latin-ext */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Regular"), local("BebasNeue-Regular"), url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local("Bebas Neue Regular"), local("BebasNeue-Regular"), url(https://fonts.gstatic.com/s/bebasneue/v2/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.training {
  padding-top: 4rem; }

.training-video {
  width: 25%;
  height: 20%; }
  @media (min-width: 1281px) {
    .training-video {
      width: 20%; } }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .training-video {
      width: 20%; } }

.training-text {
  font-family: Bebas Neue,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase; }

.training-text a {
  text-decoration: none;
  color: inherit; }

.training-text:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--blue); }

hr.dotted {
  border-top: 1px dotted #40be46; }

.xs-text {
  font-size: 0.95rem; }

.bg-center {
  background-position: center center; }

.bg-cover {
  background-size: cover; }

.open-sans {
  font-family: 'Open Sans', sans-serif !important; }

body.tribe #conanTribeMemberModal.modal .modal-dialog {
  max-width: 900px; }
  body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content {
    border: 0;
    border-radius: 0; }
    body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content button.close {
      top: 3px;
      right: 0;
      width: 29.68px;
      height: 30.35px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 150%;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center; }
    body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 126.5%; }
    body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content p {
      font-weight: normal;
      font-size: 19px;
      line-height: 150%; }
    body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content .img {
      min-width: 270px; }
      body.tribe #conanTribeMemberModal.modal .modal-dialog .modal-content .img img {
        width: 278px;
        height: 252px; }

body.tribe .company {
  border-bottom: 1px solid #cecece; }

body.tribe .tribes-hero {
  background-image: url("../public/tribes-hero-background.png"); }

body.tribe h1 {
  font-size: 30px; }
  @media screen and (min-width: 1199.98px) {
    body.tribe h1 {
      font-size: 40px; } }

body.tribe .tribes-content p, body.tribe .tribes-content li {
  font-weight: normal;
  font-style: normal;
  font-family: Open Sans;
  font-size: 20px;
  line-height: 150%;
  width: 910px;
  max-width: 100%; }
  body.tribe .tribes-content p.bigger, body.tribe .tribes-content li.bigger {
    font-size: 24px;
    line-height: 146%; }

body.tribe .tribes-content h2 {
  width: 910px;
  max-width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%; }

body.tribe .tribes-content ul {
  width: 721px;
  max-width: 100%; }

@media screen and (min-width: 1199.98px) {
  body.tribe section.the-tribe#theTribe .tribe-members-container {
    max-width: 1340px; } }

body.tribe section.the-tribe#theTribe h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 150%; }
  @media screen and (min-width: 1199.98px) {
    body.tribe section.the-tribe#theTribe h2 {
      font-size: 40px; } }

body.tribe section.the-tribe#theTribe h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 126.5%; }

body.tribe section.the-tribe#theTribe p {
  font-size: 19px;
  line-height: 28.5px; }

body.tribe section.the-tribe#theTribe a.big-btn, body.tribe section.the-tribe#theTribe button.big-btn {
  transition: all 0.32s ease; }
  body.tribe section.the-tribe#theTribe a.big-btn:hover, body.tribe section.the-tribe#theTribe button.big-btn:hover {
    background-color: #3E6387; }

body.tribe section.the-tribe#theTribe button.big-btn {
  border: 0; }

body.tribe section.sign-up span.white-text {
  display: block;
  width: 613px;
  max-width: 100%; }

body.tribe section.sign-up img.letter {
  bottom: 20px; }

ul.blue-bullets {
  list-style: none;
  margin-left: 5px;
  padding-left: 0; }
  ul.blue-bullets li:before {
    /* the custom styled bullets */
    background-color: #7BA7D3;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 2px;
    height: 8px;
    width: 8px; }

.bg-mid-blue {
  background-color: #3E6387; }

.home-banner {
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .home-banner {
      background-size: 1920px 100%; } }
  .home-banner p {
    width: 536px;
    max-width: 100%; }

a.green-cta {
  color: white !important;
  min-width: 190px;
  height: 48px;
  padding: 10px 15px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #40be46;
  transition: all 0.32s ease;
  font-family: Open Sans, sans-serif;
  font-size: 20px; }
  a.green-cta:hover {
    background: #4ac750; }

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block; }

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 4px;
  font-size: 16px; }

input[type=text] {
  background-color: #f1f1f1;
  width: 100%; }

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer; }

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0; }

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4; }

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff; }

/* Create two equal columns that float next to each other */
.at-column-70 {
  float: left;
  width: 70%;
  padding: 5px;
  text-align: left; }

.at-column-30 {
  float: left;
  width: 30%;
  padding: 5px;
  text-align: left; }

/* Clear floats after the columns */
.at-row:after {
  content: "";
  display: table;
  clear: both; }

.see-all {
  text-align: center;
  padding: 10px !important; }

.pkg-name, .pkg-version, .see-all {
  font-size: 0.75rem; }

@media (min-width: 1025px) {
  .header-nav .show-lg-and-up {
    display: block; }
  .header-nav .show-md-and-down {
    display: none; } }

@media (max-width: 1024px) {
  .header-nav .show-md-and-down {
    display: block; }
  .header-nav .show-lg-and-up {
    display: none; } }

#openSourceSubscribeModal {
  font-size: 20px;
  font-family: "Open Sans", sans-serif !important; }
  #openSourceSubscribeModal * {
    border-radius: 0; }
  #openSourceSubscribeModal button.close {
    top: 10px;
    right: 10px;
    font-weight: 200;
    font-size: 20px; }
  #openSourceSubscribeModal .modal-dialog {
    max-width: 850px; }
    #openSourceSubscribeModal .modal-dialog .modal-body {
      max-height: 100vh; }
      @media screen and (min-width: 768px) {
        #openSourceSubscribeModal .modal-dialog .modal-body {
          height: 500px; } }
      #openSourceSubscribeModal .modal-dialog .modal-body .splitter .left {
        background: #7BA7D3;
        width: 100%; }
        @media screen and (min-width: 768px) {
          #openSourceSubscribeModal .modal-dialog .modal-body .splitter .left {
            width: 40%; } }
      #openSourceSubscribeModal .modal-dialog .modal-body .splitter .right {
        width: 100%; }
        #openSourceSubscribeModal .modal-dialog .modal-body .splitter .right h2 {
          font-size: 40px; }
        #openSourceSubscribeModal .modal-dialog .modal-body .splitter .right p {
          color: #717171;
          font-style: normal;
          font-weight: normal;
          font-size: 20px; }
        @media screen and (min-width: 768px) {
          #openSourceSubscribeModal .modal-dialog .modal-body .splitter .right {
            width: 60%; } }
  #openSourceSubscribeModal form ::placeholder {
    font-family: 'Open Sans', sans-serif !important; }
  #openSourceSubscribeModal form button.mktoButton[type="submit"] {
    background: #2F6799;
    color: white;
    width: 200px;
    height: 50px;
    line-height: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 0;
    transition: all 0.32s ease;
    margin-top: 20px; }
    #openSourceSubscribeModal form button.mktoButton[type="submit"]:hover {
      background: rgba(47, 103, 153, 0.85); }
  #openSourceSubscribeModal form label#LblEmail, #openSourceSubscribeModal form .mktoGutter, #openSourceSubscribeModal form .mktoOffset, #openSourceSubscribeModal form .mktoClear, #openSourceSubscribeModal form .mktoAsterix {
    display: none !important; }
  #openSourceSubscribeModal form * {
    font-family: 'Open Sans', sans-serif !important; }
  #openSourceSubscribeModal form .mktoFormRow {
    width: 330px !important;
    max-width: 100% !important; }
  #openSourceSubscribeModal form input[type="checkbox"] {
    opacity: 0; }
  #openSourceSubscribeModal form input[type="email"] {
    height: 48px;
    border: 1px solid #686868;
    font-size: 15px;
    width: 335px;
    max-width: 100%;
    padding: 15px;
    border-radius: 0; }
  #openSourceSubscribeModal form label {
    font-size: 17px !important; }
    #openSourceSubscribeModal form label a {
      font-size: 17px !important;
      color: black !important; }
  #openSourceSubscribeModal form .mktoFormRow:nth-child(2) > .mktoFieldDescriptor.mktoFormCol {
    margin-bottom: 0 !important;
    position: relative;
    left: -40px; }
    #openSourceSubscribeModal form .mktoFormRow:nth-child(2) > .mktoFieldDescriptor.mktoFormCol > label#Lblacceptthetermsandconditions {
      display: none !important; }
  #openSourceSubscribeModal form .mktoHtmlText.mktoHasWidth {
    width: 330px !important; }
    #openSourceSubscribeModal form .mktoHtmlText.mktoHasWidth span[style="font-size: 10px;"] {
      position: relative;
      left: 70px;
      top: 3px;
      font-size: 16.7px !important;
      font-weight: normal; }
      #openSourceSubscribeModal form .mktoHtmlText.mktoHasWidth span[style="font-size: 10px;"] a {
        font-weight: bold;
        font-size: 16.7px; }
      @media screen and (max-width: 576px) {
        #openSourceSubscribeModal form .mktoHtmlText.mktoHasWidth span[style="font-size: 10px;"] {
          top: 6px; } }
  #openSourceSubscribeModal form span[style="margin-left: 120px;"] {
    margin-left: 0 !important; }
  #openSourceSubscribeModal form .marketo-submit-row {
    margin-top: 15px; }
  @media screen and (max-width: 576px) {
    #openSourceSubscribeModal form .magic-checkbox + label:before {
      top: -40px;
      left: 10px; }
    #openSourceSubscribeModal form .mkto-checkbox-form-row > .mktoFormCol:not(.mktoFieldDescriptor) {
      display: none !important; } }

.magic-checkbox-error:before {
  border-color: red !important;
  border-width: 2px !important; }

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid black; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #d4d4d4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #d4d4d4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #d4d4d4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none;
  background-color: #7BA7D3;
  border: 1px solid #7BA7D3; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.faq-questions .container {
  border-bottom: 1px solid #E6E6E6; }
  @media screen and (max-width: 480px) {
    .faq-questions .container {
      border-bottom: 0; } }

.faq-questions li.faq-anchor {
  list-style: none;
  padding-bottom: 15px;
  padding-right: 15px; }
  .faq-questions li.faq-anchor a {
    color: #7BA7D3; }

.faq-separator {
  height: 1px;
  width: 100%;
  background: #E6E6E6; }

#faqAccordion li.faq-element {
  border-bottom: 1px solid #E6E6E6;
  padding: 15px; }
  #faqAccordion li.faq-element .top {
    cursor: pointer; }
  #faqAccordion li.faq-element .question {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
    transition: all 0.32s ease;
    max-width: 900px; }
    @media screen and (min-width: 480px) {
      #faqAccordion li.faq-element .question {
        font-size: 20px; } }
    @media screen and (max-width: 480px) {
      #faqAccordion li.faq-element .question {
        margin-bottom: 15px; } }
  #faqAccordion li.faq-element .answer {
    font-size: 13px;
    color: #757575;
    max-width: 900px; }
    #faqAccordion li.faq-element .answer a {
      color: #2F6799;
      text-decoration: underline; }
    @media screen and (min-width: 480px) {
      #faqAccordion li.faq-element .answer {
        font-size: 16px; } }
    @media screen and (max-width: 480px) {
      #faqAccordion li.faq-element .answer {
        color: black; } }
  #faqAccordion li.faq-element path, #faqAccordion li.faq-element svg {
    transition: all 0.32s ease; }

body.user-stories h1 {
  font-size: 35px; }

body.user-stories a.single-user-story {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  color: #000000; }
  body.user-stories a.single-user-story:hover .image {
    background-color: rgba(139, 139, 139, 0.4); }
  body.user-stories a.single-user-story .image {
    transition: all 0.32s ease;
    height: 190px;
    max-height: 190px; }
  body.user-stories a.single-user-story .title {
    height: 54px; }

body.single-user-story .download .image {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15)); }

body.single-user-story section.breadcrumbs a {
  font-size: 20px;
  line-height: 1.3; }

body.single-user-story section.user-story-top h1 {
  max-width: 664px;
  line-height: 1.33;
  font-size: 23px; }
  @media screen and (min-width: 662px) {
    body.single-user-story section.user-story-top h1 {
      font-size: 30px; } }

body.single-user-story section.user-story-top .position-relative img.position-absolute {
  top: -40px;
  left: 0; }

body.single-user-story section.user-story-top .top-together-images {
  max-width: 664px; }
  body.single-user-story section.user-story-top .top-together-images .plus {
    font-size: 38px; }
  body.single-user-story section.user-story-top .top-together-images .blue-line {
    height: 1px;
    right: 28px;
    top: 0;
    width: 2000px; }

body.single-user-story section.user-story-content .content {
  max-width: 840px; }
  body.single-user-story section.user-story-content .content h2 {
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold; }

section#userStoriesHomeSection {
  overflow: hidden; }
  section#userStoriesHomeSection .container .content {
    width: 722px;
    max-width: 100%; }
  section#userStoriesHomeSection img.dots-background {
    bottom: 0;
    left: 0; }
